#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.episodes {
  border-radius: 5px;
  border: 1px solid;
}

.episode {
  border-bottom: 1px solid;
  padding: 1rem;
  display: grid;
  grid-template-columns: max-content auto 200px;
  gap: 1rem;
}

.episode--image img {
  display: block;
}

.episode:last-child {
  border-bottom: 0;
}

.episode-characters {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  gap: 1rem;
  align-content: start;
  justify-content: end;
}

.pagination {
  width: max-content;
  margin-left: auto;
  padding-top: 1rem;
}

.image--loading {
  filter: blur(10px);
  clip-path: inset(0);
}
.image--loaded {
  filter: blur(0px);
  transition: filter 0.5s linear;
}

.dot {
  border-radius: 50%;
  background: grey;
  margin-right: 1rem;
  display: inline-block;
  aspect-ratio: 1;
  padding-inline: 0.5rem;
  color: white;
  border: 5px solid transparent;
  display: inline-grid;
  place-content: center;
}

// needs some design advise!
.dot--active {
  border-color: orange;
  background: white;
  color: orange;
}
